################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/installandupdateweb/files/1.2
